{% extends 'base.html.twig' %}

{% block title %}Hello SoutenanceController!{% endblock %}


    {% block content %}
        {% if is_granted('ROLE_ADMIN') %}
            <h1>Welcome home Admin</h1>
        {% endif %}
        {% if is_granted('ROLE_PROF') %}
            <h1>Welcome home Prof</h1>
        {% endif %}
    {% endblock %}

