<h2>Soutenance Plat-forme</h2>
Madame, Monsieur {{nom}} {{ prenom }},
<h3>virifi wach kayn l2akhtaae ana mzawg</h3>
<p>
    Vous venez d'obtenir un compte sur la platforme <a href="http://127.0.0.1:8000/"><b>Soutenance</b></a><br/>
    Voici vos cordonée:<br/>
        mail: {{ mail }}<br/>
        mot de passe: {{ password }}<br/>
    <h4 style="color: red;">N'oublié pas de modifier votre mot de passe ! Merci.</h4>

Cordialement,<br/>
La Scolarité Centrale
</p>
    <h2>virifi wach kayn l2akhtaae ana mzawg</h2>
<h5>Ce courriel a été envoyé automatiquement, merci de ne pas y répondre.</h5>