<h2>Soutenance Plat-forme</h2>
Bonjour {{nom}} {{ prenom }},
<p>
    Vous venez de recevoir vos identifiants de connexion à la plate-forme Soutenance. <a href="http://127.0.0.1:8000/"><b>Soutenance</b></a><br/>
    Voici vos cordonée:<br/>
    Mail: {{ mail }}<br/>
    Mot de passe: {{ password }}<br/>
    <h4 style="color: red;">Attention, n’oubliez pas de modifier votre mot de passe.</h4>

Cordialement,<br/>
La Scolarité Centrale
</p>
<h5>Ce courriel a été envoyé automatiquement, merci de ne pas y répondre.</h5>